body {
    margin: 0;
    padding: 0;
    background: #f7f9fc;
    font-family: Lato;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

.type-card-img-input {
    margin-left: -18%;
    width: 13%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* gloobal */

:root {
    --deep-blue: #003476;
    --primay: #1f324a;
    --secondary: #3e90ff;
    --lightBlue: #4989de;
    --gray1: #e1ecfc;
    --gray2: #3b4d64;
}

.fomrContainerPayment {
    display: block;
    max-width: 1280px;
    margin: 20px;
}

.welcome {
    text-align: center;
}

.w-title-p {
    font-weight: 700;
    font-size: 14px;
    color: var(--deep-blue);
    margin-bottom: 10px;
}

.w-title-s {
    font-weight: 700;
    font-size: 18px;
    color: var(--primay);
    margin-bottom: 10px;
}

.w-description {
    font-weight: 400;
    font-size: 12px;
    color: var(--primay);
    margin-bottom: 25px;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2.12222px 21.2222px rgba(0, 52, 118, 0.08);
}

.client-info {
    /* width: 280px; */
    height: 103px;
    padding: 17px 0 17px 20px;
    margin-bottom: 25px;
}

.client-info p:nth-child(4) {
    margin: 0;
}

.c-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.c-wrapper .c-name {
    font-weight: 400;
    font-size: 14px;
    color: var(--primay);
    margin-left: 7px;
}

.c-contact:first-child {
    font-weight: 700;
    font-size: 14px;
    color: var(--primay);
    line-height: 16.8px;
}

.c-contact {
    margin-bottom: 5px;
}

.c-contact .number {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: var(--primay);
    margin-top: 5px;
}

.c-wrapper .c-email {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: var(--primay);
    margin-right: 7px;
}

.c-wrapper .c-is-email {
    font-weight: 400;
    font-size: 12px;
    color: var(--primay);
    margin-right: 10px;
    opacity: 0.5;
}

.c-wrapper .checkYes {
    margin: 0;
}

.c-yes {
    margin-left: 10px;
}

.container-payments {
    display: grid;
    /* grid-template-columns: 280px; */
}

.payment-amount {
    position: relative;
    height: 420px;
    background-image: url("../image/backgroundPayment.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 125%;
    margin-bottom: 25px;
    background-position-y: 107%;
}

.p-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary);
    margin-bottom: 20px;
}

.p-title {
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.p-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-amount p {
    font-weight: 400;
    font-size: 14px;
    color: var(--primay);
    margin-bottom: 9px;
}

.p-amount h2 {
    font-weight: 900;
    font-size: 36px;
    color: var(--secondary);
    margin-bottom: 9px;
}

.p-amount .barra {
    width: 210px;
    border-bottom: 1px solid var(--secondary);
    margin-bottom: 15px;
}

.macro-condo-info {
    height: 135px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
    border-radius: 5px;
    background-color: var(--secondary);
}

.m-title {
    font-size: 18px;
    color: #ffffff;
    margin-top: 16px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.container-condo {
    margin-left: 36px;
}

.condo-info {
    display: flex;
    flex-direction: column;
}

.condo-info p:nth-child(1),
.condo-info p:nth-child(2) {
    margin-bottom: 10px;
}

.condo-info .info {
    font-weight: 700;
    margin-left: 15px;
    font-size: 14px;
    color: #ffffff;
}

.form-credit-payment {
    /* height: 381px; */
    padding: 17px 20px 22px 20px;
}

.f-title {
    font-weight: 700;
    font-size: 18px;
    color: var(--primay);
    margin-left: 11px;
}

.f-header {
    margin-bottom: 10px;
}

.flexLabel {
    display: flex;
    flex-direction: column;
}

.credit-card {
    background-image: url("../image/creditcardbackground.svg");
    position: relative;
    height: 153px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.data-group-card {
    position: absolute;
    top: 42px;
    left: 12px;
}

.data-group-card .flexLabel:nth-child(1) {
    margin-bottom: 5px;
}

.data-group-card .flexLabel:nth-child(2) {
    margin-bottom: 7px;
}

.tittle-card {
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    /* color: #f7f9fc; */
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.5;
}

.data-card {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    /* color: transparent; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.type-card-img {
    width: 40px;
    height: 31px;
    position: absolute;
    top: 12px;
    right: 15px;
    user-select: none;
}

.validateCard {
    display: flex;
    justify-content: space-between;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.inputContainer>img {
    position: absolute;
}

.validateCard .inputContainer:nth-child(2) img {
    right: 0;
}

.formInput {
    width: 100%;
    color: var(--primay);
    border: none;
    font-weight: 400;
    border-bottom: 1px solid var(--gray1);
    box-shadow: none;
    font-size: 14px;
    padding-bottom: 7px;
    -webkit-appearance: none;
    outline: none;
}

.formInput::-webkit-outer-spin-button,
.formInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.formInput:focus {
    border-bottom: 1px solid var(--gray1);
}

.numberCredit {
    padding-left: 35px;
}

.dateCredit {
    width: 84px;
    padding-left: 27px;
}

.cvvCredit {
    width: 108px;
}

.term {
    display: flex;
    align-items: flex-end;
}

.term:nth-child(1) {
    margin-bottom: 12px;
}

.term:nth-child(2) {
    align-items: flex-start;
}

.term p {
    width: 200px;
    margin: 0;
    color: var(--primay);
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.term p span {
    text-decoration: underline;
}

.checkbox {
    width: 14px;
    height: 14px;
    display: block;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #ffffff;
    border: 2px solid var(--primay);
    border-radius: 5px;
}

.checkbox:hover input~.check {
    border: 2px solid var(--primay);
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.check:after {
    display: block;
}

.checkbox .check:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: solid var(--primay);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.formInput::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 120px;
}

.btn {
    width: 180px;
    height: 36px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

.btn-primary {
    border: none;
    background-color: var(--lightBlue);
    color: #ffffff;
    border-radius: 23px;
}

.btn-secondary {
    background-color: #f7f9fc;
    color: var(--secondary);
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-36 {
    font-size: 36px;
}

.container-success-payments {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.cs-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    color: var(--deep-blue);
    text-align: center;
}

.cs-subTitle {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000e46;
    margin-bottom: 15px;
}

.cs-close {
    font-weight: 700;
    font-size: 12px;
    color: var(--deep-blue);
    opacity: 0.5;
    margin-bottom: 30px;
}

.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}

.tooltip .bottom {
    display: none;
    width: 240px;
    padding: 10px 12px;
    top: 18px;
    right: -35px;
    color: var(--primay);
    background-color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5); */
    border: 1px solid #c4c4c4;
}

.tooltip:hover .bottom {
    display: block;
}

.tooltip .bottom i {
    position: absolute;
    bottom: 97%;
    right: 33px;
    width: 19px;
    height: 20px;
    overflow: hidden;
}

.tooltip .bottom i::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
}

body {
    /* position: fixed; */
    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}


/* Desde aqui */

.modalTerms {
    position: fixed;
    width: 260px;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow-y: auto;
}

.modalClose {
    position: absolute;
    top: 22px;
    right: 24px;
}

.modalClose img {
    width: 16px;
    height: 16px;
}

.modalTitle {
    font-size: 18px;
    color: #1f324a;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 27px;
}


/* .informationTerms {
    overflow-y: auto;
} */

.informationTerms .text {
    font-size: 15px;
    color: #1f324a;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 21px;
    text-align: justify;
}

.informationTerms .text span {
    font-weight: 700;
}

.btnAccept {
    display: flex;
    flex-direction: row-reverse;
}

.btnAccept button {
    width: 308px;
    height: 38px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    background-color: #3e90ff;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 0;
    cursor: pointer;
}


/* Hasta aqui */

@media screen and (max-width: 320px) {
    .container-payments {
        grid-template-columns: 280px;
    }
}

@media screen and (min-width: 360px) {
    .credit-card {
        height: 186px;
        background-size: 100% 186px;
    }
    .payment-amount {
        background-size: 115%;
        background-position-y: 110%;
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    .credit-card {
        height: 186px;
        background-size: 87% 186px;
    }
    .type-card-img {
        right: 60px;
    }
    .payment-amount {
        background-size: 125%;
        background-position-y: 205%;
    }
}

@media screen and (min-width: 768px) {
    .fomrContainerPayment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 60px;
    }
    .client-info {
        width: 648px;
    }
    .w-title-p {
        font-size: 18px;
    }
    .w-title-s {
        font-size: 24px;
    }
    .w-description {
        font-size: 14px;
    }
    .client-info {
        text-align: center;
    }
    .client-info p {
        justify-content: center;
    }
    .payment-amount {
        height: 453px;
        margin-bottom: 0;
    }
    .container-payments {
        grid-template-columns: 320px 320px;
        column-gap: 15px;
        justify-content: center;
    }
    .btn {
        width: 316px;
    }
    .container-success-payments {
        width: 500px;
    }
    .cs-title {
        font-size: 28px;
    }
    .cs-subTitle {
        font-size: 22px;
    }
    .cs-close {
        font-size: 22px;
    }
    .logo img {
        content: url("../image/logoDesktop.svg");
    }
    .modalTerms {
        width: 600px;
        height: auto;
        padding: 52px 63px 74px 70px;
    }
    .modalTitle {
        font-size: 20px;
    }
    .modalClose {
        top: 32px;
        right: 54px;
    }
    .modalClose img {
        width: inherit;
        height: inherit;
    }
}

@media screen and (min-width: 1024px) {
    .modalTerms {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .client-info {
        width: 528px;
        height: 133px;
    }
    .container-payments {
        grid-template-columns: 527px 527px;
        column-gap: 25px;
    }
    .w-title-p {
        font-size: 32px;
    }
    .w-title-s {
        font-size: 36px;
    }
    .w-description {
        font-size: 18px;
    }
    .credit-card {
        background-size: 46% 186px;
    }
    .payment-amount {
        background-position-y: -1010%;
    }
    .c-wrapper .c-name,
    .c-wrapper .c-email,
    .c-contact .number {
        font-size: 18px;
    }
    .c-contact:first-child {
        font-size: 18px;
    }
    .c-wrapper .c-is-email {
        font-size: 16px;
    }
    .p-amount h2 {
        font-size: 48px;
    }
    .type-card-img {
        top: 30px;
        right: 273px;
    }
    .dateCredit {
        width: 213px;
    }
    .cvvCredit {
        width: 193px;
    }
    .modalTitle {
        font-size: 22px;
    }
    .btnAccept button {
        font-size: 20px;
        margin-top: 48px;
    }
}